# Summary statistics

## import packages

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

## import dataset

In [2]:
#from the scikit library we import a simple dataset with some data about three types of iris flowers:
#-iris-Setosa, iris-versicolour, iris-virginica
#the data is stored as a bunch!
dataset = load_iris()

#Retrieve only the data part and convert it to a dataframe
data = pd.DataFrame(dataset.data)

#The dataset does not contain headers, so we'll add those
data.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']

#similar for the target, in this case what type of iris flower is it
target = pd.DataFrame(dataset.target)
target.columns = ['target']

#print the first 5 rows
display(data.head())

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

## run summary statistics

In [3]:
#run the df.describe method to retrieve the count, mean, min, max, standard deviation, and percentiles
SummaryStatistics = data.describe(include='all')
display(SummaryStatistics)

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000