# Naive bayes


## import packages

In [10]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn import naive_bayes
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt

## import dataset

In [11]:
dataset = load_iris()

X = pd.DataFrame(dataset.data)
X.columns = dataset.feature_names

y = dataset.target

display(X.head())
display(X.describe())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

## Estimate the model

In [33]:
#split the dataset into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#fit the model on the dataset
model = naive_bayes.GaussianNB().fit(X_train, y_train)

#make predictions
prediction = model.predict(X_test)

## Create metrics: Confusion Matrix

Note that we are dealing with a multiclass setting. Computing a ROC curve would mean we'd have to binarize and apply a one vs all strategy. What does a ROC curve mean in such situations?

In [27]:
#create a confusion matrix
confusion_matrix = metrics.confusion_matrix(y_test, prediction)
confusion_matrix = pd.DataFrame(confusion_matrix, columns=['class 0 pred','class 1 pred','class 2 pred'], 
                                index=['class 0 true','class 1 true','class 2 true'])

print("confusion matrix:\n\n", confusion_matrix)

confusion matrix:

               class 0 pred  class 1 pred  class 2 pred
class 0 true            19             0             0
class 1 true             0            12             1
class 2 true             0             0            13